body { margin: 0; background-color: #f4f7f6; font-family: "Microsoft JhengHei"; }

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 5%;
    background: white;
}

/* 華僑圖片 */
.right-image img {
    width: 400px;
    height: 300px;
    border-radius: 50px 0px 50px 0px; 
    object-fit: cover;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
}

/* NOCSH */
.school-text {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 5rem;
    color: #e0e0e0;
    font-weight: black;
}
