  /* 主體配置 */
body { 
margin: 0; 
background-color: #F0EDE5; 
font-family: "Microsoft JhengHei"; 
}

/* 圖片設定 */
img {
    max-width: 100%; /* 圖片最大寬度不超過父層容器 */
    height: auto;    /* 高度自動調整，避免變形 */
    display: block;  /* 移除圖片下方預設的微小縫隙 */
}

.top-nav-bar {
    width: 100%;
    height: 80px; 
    background-color: #ffffff;
    
    /* x,y,模糊度(顏色) */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3); 
    
    position: fixed;/* 固定在最頂端 */
    top: 0;
    left: 0;
    z-index: 1000;
    
    /* 排版 */
    display: flex;
    align-items: center;
    padding: 0 40px; /* 文字距離左右邊框的距離 */
}

/* 這是標題區的設定 */
.name-text {
    /* 絕對定位 */
    position: absolute; 
    top: 100px;  /* 距離網頁上方 */
    left: 30px;  /* 距離網頁左邊 */
    
    /* 文字垂直 */
    writing-mode: vertical-rl;
    text-orientation: upright;
    
    font-family: "Noto Sans TC";
    letter-spacing: 20px;
    font-size: 150px;
    font-weight: 800;
    color: #515151;
}

.title-text {
    /* 絕對定位 */
    position: absolute; 
    top: 110px;  /* 距離網頁上方 */
    left: 210px;  /* 距離網頁左邊 */
    
    /* 文字垂直 */
    writing-mode: vertical-rl;
    text-orientation: upright;
    
    font-family: "Noto Sans TC";
    font-size: 60px;
    font-weight: 750;
    color: #C1BEB4;
}

.school-text {
    /* 絕對定位 */
    position: absolute; 
    top: 630px;  /* 距離網頁上方 */
    right: 210px;  /* 距離網頁左邊 */
    
    font-family: "Noto Sans TC";
    font-size: 150px;
    font-weight: 900;
    color: #FFFFFF;
}

.school2-text {
    /* 絕對定位 */
    position: absolute; 
    top: 72px;  /* 距離網頁上方 */
    right: 8px;  /* 距離網頁左邊 */
    
    /* 文字垂直 */
    writing-mode: vertical-rl;
    text-orientation: upright;
    
    font-family: "Noto Sans TC";
    font-size: 150px;
    font-weight: 900;
    color: #F0EDE5;
}

.title-box {
    position: relative;
    width: 100%;
    height: 830px; 
    background-color: #ffffff;
    box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.4); 
}

.photo-container {
  position: absolute; 
    top: 80px;  
    right: 200px; 
  width: 1200px; 
  height: 750px;
  overflow: hidden; /* 超出圓角的部分被切掉 */
  border-radius: 0 350px 0 350px;/* 順序為：左上 右上 右下 左下 */
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.3); 
}

.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 讓圖片自動填滿且不會變形 */
}

.intorduction-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.intorduction_text1 {
  font-family: "Noto Sans TC";
  font-size: 48px;
  font-weight: 900;
  color: #515151;
}

.intorduction_text1 {
  font-family: "Noto Sans TC";
  font-size: 32px;
  font-weight: 900;
  color: #515151;
}
